/* Estilo para a Navbar */
.titulo-navbar {
    transition: text-shadow 0.3s ease;
}
.titulo-navbar:hover {
    text-shadow: 0 0 5px rgba(255,215,0,0.6), 0 0 10px rgba(255,223,100,0.4);
}

/* Cabeçalhos de sessão */
.destaques-header {
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container para os cards */
.container {
    flex-grow: 1;
}

/* Estilo dos cards */
.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 9px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* Imagem do card */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 10px 0 0 10px;
}

/* Corpo do card */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    height: 100%;
}

.card-body h5,
.card-body p {
    margin-bottom: 5px;
}

/* Botão personalizado */
.botao-cor {
    background-color: #311706;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    width: auto;
    max-width: 150px;
    transition: background-color 0.3s ease;
}

.botao-cor:hover {
    background-color: #a74f15;
}

.botao-cor:active {
    background-color: #2c1500;
}

/* Espaçamento entre os cards */
.mb-4 {
    margin-bottom: 1.5rem;
}

/* Responsividade (opcional para mobile) */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card-img {
        border-radius: 10px 10px 0 0;
        max-height: 300px;
    }
}

.preco-produto {
    font-weight: bold;
    color: #5c3d1b;
    font-size: 1.1rem;
    margin-left: 15px;
  }